@font-face {
 font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
      url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
      url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #777777;
  font-style: 16px;
  line-height: 24px;

  background-color: #fff;
}
.container {
  max-width: 1300px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}
.site_header {
 padding-top: 30px;
}
.site_main {
  display: flex;
  align-items: center;
}

.sitenav {
  margin-left: auto;
  margin-right: 40px;
}
.nav_list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav_nav_link_item {
  margin-left: 30px;
  border: 3px solid transparent;
  padding: 6px;
}
.nav_nav_link_item:last-child {
  margin-right: 0;
}
.nav_nav_link_item:hover {
  border-bottom: 3px solid #333;
}
.nav_link {
  text-decoration: none;
  color: #333333;
  width: 41px;
  height: 23px;

}
.header_search {
  padding-right: 125px;
}
.search {
  padding-bottom: 6px;
  border: none;
  border-bottom: 1px solid #333333;
}
.search:focus {
  border: none;
  outline: none;

}
.site_hero {
  padding-bottom: 185px;
  padding-top: 170px;
  background-image: url(../img/intro-bg-img.png);
  background-repeat: no-repeat;
  background-position: right calc(-200px) bottom calc(-51px);
  background-size: contain;

}
.site_hero_content {
  width: 490px;

}
.site_hero_heading {
  font-size: 50px;
  line-height: 120%;
  font-weight: 700;
  margin: 0;
  color: #000;
  margin-bottom: 30px;
}
.site_hero_text {
  margin: 0;
  line-height: 150%;
  border-left: 3px solid #888888;
  padding-left: 40px;
  margin-bottom: 30px;
}
.site_hero_link {
  text-decoration: none;
  background-color: #EA625C;
  margin: 0;
  padding: 12px 32px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.site_hero_link:hover{
 background-color: #C9514C
 ;
}
.feature_item {
  display: flex;
  list-style: none;
  padding: 70px 125px;
}
.feature_heading {
  text-transform: uppercase;
  font-size: 18px;
  color: #222222;
  margin-bottom: 30px;
}
.feature_text {
  width: 280px;
  margin-right: 80px;
}
.feature_dots {
  display: flex;
}
.dots {
  display: block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  background-color: #DDDDDD;
}
.feature_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  line-height: 160%;
  text-transform: uppercase;
  color:#EA625C;
}
.feature_link::before {
  display: block;
  content: "";
  border-top: 3px solid #EA625C;
  width: 60px;
  margin-right: 10px;
}
.sport_info_main {
  display: flex;
  justify-content: space-between;
  padding: 70px;

}
.site_hero_content{
 margin-top: 106px;
}
.footer {
  background-image: url(../img/runners-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer_main {
  margin-left: auto;
  width: 700px;
  padding: 240px 125px 239px 0px;
}
.footer_heading {
  color: #FFFFFF;

}
.footer_text {
  color: #FFFFFF;
  line-height: 150%;
  border-left: 3px solid #FFFFFF;
}